body {
  margin: 0px;
  padding: 0px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  height: 100%;
}
/*Containers principais*/
#container {
  width: 100vw;
  height: 100vh;
  background: #fff6ea;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#box {
  width: 400px;
  height: 100v;
  background: #ba00f866;
  border-radius: 10px;
  color: #ffffff;
  box-shadow: 5px 5px 20px rgba(158, 158, 158, 0.8);
}

#box h1 {
  text-align: center;
}

/*Home Page*/
#container.homepage {
  justify-content: left;
}

#box.HomeSideBox {
  width: 20%;
  height: 100%;
  border-radius: 0px 10px 10px 0px;
  display: block;
  align-items: center;
  text-align: center;
}

.homepage p {
  text-align: left;
  font-size: 0.8rem;
}

#box img#ProfileImage {
  width: 120px;
  height: 120px;
  margin-top: 50px;
  position: relative;
}

#content {
  width: 75%;
  height: 100%;
}

.content {
  background: rgb(177, 177, 84);
  width: 90%;
  padding: 20px;
  margin: 12px;
  background: #ba00f866;
  border-radius: 10px;
  color: #ffffff;
  box-shadow: 5px 5px 20px rgba(158, 158, 158, 0.8);
  display: block;
  text-align: center;
}

#projetos .imagens {
  display: flex;
  justify-content: center;
  align-items: center;
}

#formacao .imagens {
  display: flex;
  justify-content: center;
  align-items: center;
}
#projetos img {
  width: 250px;
  height: 200px;
  margin: 5px;
  border: #ffffff 1px solid;
  border-radius: 5px;
}

#formacao figure {
  text-align: center;
  display: flex;
  flex-flow: column;
  width: 350px;
  height: 200px;
  margin: 5px;
  border: #ffffff 1px solid;
  border-radius: 5px;
}

#formacao img {
  max-height: 180px;
}

/*Register Page*/

/*Formulário início*/
form {
  padding: auto;
  margin: auto;
}
fieldset {
  margin: auto;
  width: 65%;
  border-color: hsla(0, 0%, 100%, 0.597);
  border-radius: 8px;
}

input {
  height: 20px;
  width: 90%;
  border-radius: 2px;
  font-style: italic;
  padding-left: 20px;
  border: none;
  background-repeat: no-repeat;
  background-position: 8px;
  background-size: 10px;
}

input.user {
  background-image: url(/assets/images/icone-usuario.png);
}

input.password {
  background-image: url(/assets/images/icone-cadeado.png);
}

input.email {
  background-image: url(/assets/images/email.png);
}

input.submit {
  color: #fff;
  margin-left: 5%;
  width: 90%;
  cursor: pointer;
  background: linear-gradient(#ba00f866, #9f3ac166);
}

input.submit:hover {
  background: #ffffff;
  color: #ba00f866;
  font-weight: bold;
}

::placeholder {
  padding-left: 2px;
  font-size: 0.7rem;
}
/*Formulário Fim*/

/*Login Page*/

form {
  padding: auto;
  margin: auto;
}
fieldset {
  margin: auto;
  width: 65%;
  border-color: hsla(0, 0%, 100%, 0.597);
  border-radius: 8px;
}

input {
  height: 20px;
  width: 90%;
  border-radius: 2px;
  font-style: italic;
  padding-left: 20px;
  border: none;
  background-repeat: no-repeat;
  background-position: 8px;
  background-size: 10px;
}

input.user {
  background-image: url(/assets/images/icone-usuario.png);
}

input.password {
  background-image: url(/assets/images/icone-cadeado.png);
}

input.submit {
  color: #fff;
  margin-left: 5%;
  width: 90%;
  cursor: pointer;
  background: linear-gradient(#ba00f866, #9f3ac166);
}

input.submit:hover {
  background: #ffffff;
  color: #ba00f866;
  font-weight: bold;
}

::placeholder {
  padding-left: 2px;
  font-size: 0.7rem;
}

.LoginPage p {
  font-size: 0.7rem;
  text-align: center;
}

.LoginPage a {
  color: #fff;
  text-decoration: underline;
}

/*Register Page*/

#box.RegisterBox {
  height: 400px; /*Register page*/
}

form {
  padding: auto;
  margin: auto;
}
fieldset {
  margin: auto;
  width: 65%;
  border-color: hsla(0, 0%, 100%, 0.597);
  border-radius: 8px;
}

input {
  height: 20px;
  width: 90%;
  border-radius: 2px;
  font-style: italic;
  padding-left: 20px;
  border: none;
  background-repeat: no-repeat;
  background-position: 8px;
  background-size: 10px;
}

input.user {
  background-image: url(/assets/images/icone-usuario.png);
}

input.password {
  background-image: url(/assets/images/icone-cadeado.png);
}

input.email {
  background-image: url(/assets/images/email.png);
}

input.submit {
  color: #fff;
  margin-left: 5%;
  width: 90%;
  cursor: pointer;
  background: linear-gradient(#ba00f866, #9f3ac166);
}

input.submit:hover {
  background: #ffffff;
  color: #ba00f866;
  font-weight: bold;
}

::placeholder {
  padding-left: 2px;
  font-size: 0.7rem;
}

p {
  font-size: 0.7rem;
  text-align: center;
}

p a {
  color: #fff;
  text-decoration: underline;
}
